body{
    font-family: 'Open Sans', sans-serif;
    text-align-last: center;
}

h1{
    font-size: 60px;
}

.block{
    display: flex;
    margin: 5%;
    justify-content: flex-start
}

#posicion{
    margin: 5%;
    align-items: center;
    align-content: center;
}
#instructions, #definition {
    text-align: justify;
}

button{
    display: inline-block;
    border-radius: 6px; 
    padding: 2%;
    background-color: white;
    font-size: 16px;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

textarea {
    resize: none;
    width: 60%;
    height: 80%;
    font-size: 18px;
}

.showMeOnHover { 
    display: none; 
}

#hereHover:hover .showMeOnHover {
    display: block;
}

#hereHover:hover .open {
    display: none;
}

#hereHover:hover {
    text-align: center;
}
